body {
    background-color: white;
    padding: 20px;
}

#jaws-text-1 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-bottom: 50px;
}

#jaws-text-2 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-bottom: 50px;
}

#jaws-year {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
}

#nj-incident-text {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#hook-text-1 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#hook-text-2 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#hook-text-3 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#line-plot-text-1 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#countries-text-1 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#species-text-1 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
    padding-bottom: 100px;
}

#activities-text-1 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#shark-population-text-1 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#ocean-reliance-text-1 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#actions-text-1 {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#actions-list-1 {
    color: #0a569a;
    font-size: 30px;
    font-family: Georgia;
}

#shark-bites-counter {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#human-fatalities-counter {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#shark-fatalities-counter {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}


#air-breathe-question {
    color: #0a569a;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}