a {
    color: blue;
    text-decoration: underline blue;

}

a:hover {
    color: blue;
}

html{scroll-behavior: smooth}

.blink {
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: white;
    
}

img {
    box-shadow: 0px 0px 5px lightgrey;
}

#animated-ocean-gif {
    background-image: url('../assets/ocean-video.gif');
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-right: 4rem;
    margin-bottom: 5em;
}

#dot-2-text-1 {
    color: white;
    font-size: 35px;
    font-family: Georgia;
    padding: 30px;
}

#dot-2-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#dot-2-text-3 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}


.sticky-thing-1 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

}


.sticky-thing-1 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-2 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/jaws-image.jpg');
    background-size: cover;
}

.sticky-thing-2 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-3 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/ocean-shark-touch.jpeg');
    background-size: cover;
}

.sticky-thing-3 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}







.line {
    fill: none;
/*    stroke: #456983; */
    stroke: crimson;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

#line-plot-user-selection {
    margin-left: 100px;
}

#opening-text {
    color: #456983;
    font-family: Georgia;
    font-size: 85px;
    margin-top: 180px;
}

#jaws-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#jaws-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#jaws-year {
    color: white;
    font-size: 50px;
    font-family: Georgia;
}

#project-title-text-1 {
    color: #456983;
    font-size: 70px;
    font-family: Arial;
    padding-top: 100px;
}

#project-title-text-2 {
    color: #456983;
    font-size: 40px;
    font-family: Arial;
    padding-bottom: 100px;
}

#dot-1-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#dot-1-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#dot-2-text-1 {
    color: white;
    font-size: 40px;
    font-family: Georgia;
    padding: 25x;
}

#dot-2-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#dot-3-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#dot-3-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#dot-3-text-3 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#dot-4-text-1 {
    color: white;
    font-size: 25px;
    font-family: Georgia;
    padding: 30px;
}

#dot-4-text-2 {
    color: white;
    font-size: 25px;
    font-family: Georgia;
    padding: 30px;
}

#dot-4-text-3 {
    color: white;
    font-size: 25px;
    font-family: Georgia;
    padding: 30px;
}


#dot-5-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#dot-5-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}


#dot-11-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#dot-11-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#dot-8-text-1 {
    color: white;
    font-size: 30px;
    font-family: Georgia;
    padding: 30px;
}

#dot-8-text-2 {
    color: white;
    font-size: 30px;
    font-family: Georgia;
    padding: 30px;
}


#shark-bites-misconception-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#human-fatalities-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#line-plot-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#line-plot-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#line-plot-text-3 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#countries-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#countries-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#species-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
    padding: 30px;
}

#species-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
    padding: 30px;
}

#white-shark-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 30px;
    padding-left: 30px;
}

#white-shark-text-2 {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia;
    padding-left: 30px;
}

#white-shark-text-3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia;
    padding-top: 20px;
    padding-left: 30px;
}

#white-shark-text-4 {
    color: white;
    font-size: 20px;
    font-family: Georgia;
    padding-left: 30px;
}

#white-shark-text-5 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia;
    padding-top: 20px;
    padding-left: 30px;
}

#white-shark-text-6 {
    color: white;
    font-size: 20px;
    font-family: Georgia;
    padding-left: 30px;
}

#white-shark-text-7 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia;
    padding-top: 20px;
    padding-left: 30px;
}

#white-shark-text-8 {
    color: white;
    font-size: 20px;
    font-family: Georgia;
    padding-left: 30px;
    padding-bottom: 30px;
}

#tiger-shark-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 30px;
    padding-left: 30px;
}

#tiger-shark-text-2 {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia;
    padding-left: 30px;
}

#tiger-shark-text-3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia;
    padding-top: 20px;
    padding-left: 30px;
}

#tiger-shark-text-4 {
    color: white;
    font-size: 20px;
    font-family: Georgia;
    padding-left: 30px;
}

#tiger-shark-text-5 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia;
    padding-top: 20px;
    padding-left: 30px;
}

#tiger-shark-text-6 {
    color: white;
    font-size: 20px;
    font-family: Georgia;
    padding-left: 30px;
}

#tiger-shark-text-7 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia;
    padding-top: 20px;
    padding-left: 30px;
}

#tiger-shark-text-8 {
    color: white;
    font-size: 20px;
    font-family: Georgia;
    padding-left: 30px;
    padding-bottom: 30px;
}

#bull-shark-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 30px;
    padding-left: 30px;
}

#bull-shark-text-2 {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia;
    padding-left: 30px;
}

#bull-shark-text-3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia;
    padding-top: 20px;
    padding-left: 30px;
}

#bull-shark-text-4 {
    color: white;
    font-size: 20px;
    font-family: Georgia;
    padding-left: 30px;
}

#bull-shark-text-5 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia;
    padding-top: 20px;
    padding-left: 30px;
}

#bull-shark-text-6 {
    color: white;
    font-size: 20px;
    font-family: Georgia;
    padding-left: 30px;
}

#bull-shark-text-7 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia;
    padding-top: 20px;
    padding-left: 30px;
}

#bull-shark-text-8 {
    color: white;
    font-size: 20px;
    font-family: Georgia;
    padding-left: 30px;
    padding-bottom: 30px;
}

#activities-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#activities-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

.bar-chart-title {
    font-size: 25px;
    font-weight: 600;
    fill: #000000;
}

.line-chart-title {
    font-size: 25px;
    font-weight: 600;
    fill: #456983;
}

#evolution-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#evolution-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#evolution-text-3 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#evolution-text-4 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#evolution-plot {
    margin-top: 100px;
}

#shark-population-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-population-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-population-text-3 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-population-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-population-text-3 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-population-text-4 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-population-text-5 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-population-text-6 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-population-text-7 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-population-text-8 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}


#ocean-reliance-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#ocean-reliance-text-2 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#ocean-reliance-text-3 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#actions-text-1 {
    color: #ffffff;
    font-size: 50px;
    font-family: Arial;
    padding: 30px;
}

#actions-text-2 {
    color: #ffffff;
    font-size: 50px;
    font-family: Arial;
    padding: 30px;
}

#actions-text-3 {
    color: #ffffff;
    font-size: 50px;
    font-family: Arial;
    padding: 30px;
}

#actions-list-1 {
    color: #ffffff;
    font-size: 20px;
    font-family: Arial;
}

#references-text-1 {
    color: #ffffff;
    font-size: 50px;
    font-family: Arial;
    margin-top: 100px;
}

#references-text-2 {
    color: #ffffff;
    font-size: 20px;
    font-family: Arial;
}

#shark-bites-counter {
    color: #ffffff;
    font-size: 70px;
    font-family: Arial;
    padding: 30px;
}

#human-fatalities-counter {
    color: crimson;
    font-size: 50px;
    font-family: Arial;
    padding: 30px;
}

#shark-fatalities-counter-annually {
    color: crimson;
    font-size: 50px;
    font-family: arial;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;

}

#shark-fatalities-text-1 {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-fatalities-hourly {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#shark-fatalities-seconds {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding: 30px;
}

#air-breathe-question {
    color: white;
    font-size: 50px;
    font-family: Georgia;
    padding-top: 100px;
}

#our-team-text {
    color: #456983;
    font-size: 50px;
    font-family: Arial;
    padding-top: 100px;
    padding-left: 30px;
}

#ryan-name {
    color: #456983;
    font-size: 30px;
    font-family: Arial;
    padding-top: 20px;
    padding-left: 30px;
}

#karim-name {
    color: #456983;
    font-size: 30px;
    font-family: Arial;
    padding-top: 20px;
    padding-left: 30px;
}

#mj-name {
    color: #456983;
    font-size: 30px;
    font-family: Arial;
    padding-top: 20px;
    padding-left: 30px;

}

#ryan-text-1 {
    color: #456983;
    font-size: 20px;
    font-family: Arial;
    padding-left: 30px;
}

#mj-text-1 {
    color: #456983;
    font-size: 20px;
    font-family: Arial;
    padding-left: 30px;
}

#karim-text-1 {
    color: #456983;
    font-size: 20px;
    font-family: Arial;
    padding-left: 30px;
}


#ryan-text-2 {
    color: #456983;
    font-size: 20px;
    font-family: Arial;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#mj-text-2 {
    color: #456983;
    font-size: 20px;
    font-family: Arial;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#karim-text-2 {
    color: #456983;
    font-size: 20px;
    font-family: Arial;
    padding-top: 20px;
    padding-left: 30px;
}


#map-div {
    height: 700px;
}

#outro {
    height: 680px;
}

/*
Initial scroll icon
*/

.initial-scroll a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 25px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.initial-scroll a:hover {
    opacity: .5;
}

opening-section {
    position: relative;
    width: 100%;
    height: 100%;
}

#initial-scroll-icon {
    height: 50vh;
}

#section-1 a {
    padding-top: 70px;
}
#section-1 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

#section-1 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg05.jpg) center center / cover no-repeat;}

/*
CSS for Scrollama functionality (https://github.com/russellsamora/scrollama)
 */

#scrolly-1 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    background-color: white;
    padding: 1rem;
}

#scrolly-1 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-2 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-3 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-3 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-4 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-4 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-5 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-5 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-6 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-6 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-7 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-7 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-8a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-8a > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-8b {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-8b > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-8c {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-8c > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-9a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-9a > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-9b {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-9b > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-9c {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
    margin-top: 100px;
}

#scrolly-9c > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-9d {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-9d > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-10 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
    margin-top: 100px;
}

#scrolly-10 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-11 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-11 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-12 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-12 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-13 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-13 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-14 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-14 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-15 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-15 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#scrolly-15a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    background-color: #f3f3f3; */
    padding: 1rem;
}

#scrolly-15a > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}



article {
    position: relative;
    padding: 0 1rem;
    max-width: 50rem;
}






.sticky-thing-4 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 50vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
/*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-4 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-5 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-5 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-6 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-6 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.sticky-thing-7 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-7 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-8a p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-8a {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 50vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-8b p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-8b {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 50vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-8c p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-8c {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 50vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-9a p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-9a {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 50vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-9b p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-9b {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 50vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('/assets/white-shark.jpg'); */
    background-size: cover;
}

.sticky-thing-9c p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-9c {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 50vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('/assets/white-shark.jpg'); */
    background-size: cover;
    margin-top: 100px;
}

.sticky-thing-9d p {
    padding: 1rem;
    font-size: 4rem;
    font-weight: 600;
    color: #456983;
}

.sticky-thing-9d {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: lightgrey;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('/assets/white-shark.jpg'); */
    background-size: cover;
}



.sticky-thing-10 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-10 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
/*    background-image: url('/assets/bycatch.jpg'); */
    background-size: cover;
    margin-top: 100px;
}

.sticky-thing-11 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-11 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: #8a8a8a;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-12 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-12 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-13 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-13 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: #8a8a8a;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-14 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-14 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: #8a8a8a;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-15 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-15 {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 50vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

.sticky-thing-15a p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.sticky-thing-15a {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    background-color: white;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /*    background-image: url('/assets/ocean-shark-touch.jpeg'); */
    background-size: cover;
}

#eco .step {
    background-color:#456983;
}
.step {
    margin: 0 auto 2rem auto;
    background-color:white;
    color: #fff;
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active {
/*    background-color: #0a569a;  */
    background-color: #456983;
    color: #3b3b3b;
    border-radius: 20px;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

#map-div{
    height: 400px;
}


/* ############### */
/* Blood animation */
/* ############### */


.drop {
    position: relative;
    width: 20px;
    height: 20px;
    top: -30px;
    margin: 0 auto;
    background: #F00;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.drop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid rgba(255,0,0,1);
    top: -22px;
}

.wave {
    position: relative;
    opacity: 0;
    top: 0;
    width: 2px;
    height: 1px;
    border: #F00 7px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
    width: 2px;
    height: 1px;
    border: #F00 5px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple-2;
    -webkit-animation-name: ripple-2;
    animation-name: ripple-2;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        width: 200px;
        height: 100px;
        border-width: 1px;
        top: 100px;
        left: 200px;
    }
}

@keyframes drip {
    to {
        top: 190px;
    }
}

#blood-drip {
    margin-top: 50px;
    width: 100%;
    height: 75vh;
}

body{
    overflow-x:hidden;
}

#map-container {

    /* center absolute positioned div help from: https://www.beacontechnologies.com/blog/2015/07/center-an-absolute-positioned-div/ */
    padding:15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
                       }

.mapPath {
    paint-order: stroke fill;
    stroke-width: 1.8;
    stroke: white;
}

.mapPath:hover {
    paint-order: stroke fill;
    stroke-width: 3;
    stroke: gray;
}

.stars-imdb {
    position: absolute;
    top: 190px;
    right: -760px;
    color: #F7BC06;
}

.stars-meta {
    position: absolute;
    top: 180px;
    right: -760px;
    color: #F7BC06;
}

#shark-population-decline-plot {
    margin-bottom: 100px;
}

.overtext {
    font-size: 27px;
    color: white;
    position: absolute;
    font-family: Poppins;
    text-align: center;
    top: 30 px;
    left: 16px;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px darkgrey;
}

#opening-text {
    color: #456983;
    font-family: Georgia;
    font-size: 120px;
    margin-top: 180px;
    text-align: center;
}



#cd-vertical-nav a {
    color: #000;
    text-decoration: none;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cd-nav-trigger {
    display: none;
}

#cd-vertical-nav {
    position: fixed;
    left:40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
#cd-vertical-nav li {
    text-align: left;

}
#cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
#cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
#cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
}
#cd-vertical-nav a span {
    float: left;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}
#cd-vertical-nav a:hover span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity :0.8;
}

#cd-vertical-nav a:hover .cd-label {
    opacity: 1;
    z-index: 0;
}

#cd-vertical-nav a.is-selected .cd-dot {
    background-color: black;
    opacity: 1;
}

.cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: whitesmoke;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /*opacity: 0.4;*/
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 2fr;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#proj-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    border-radius: 1em;
}


#map-div {
    height: 400px;
}

/* ############### */
/* Blood animation */
/* ############### */

.drop {
    position: relative;
    width: 20px;
    height: 20px;
    top: -30px;
    margin: 0 auto;
    background: #f00;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
    animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.drop:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid rgba(255, 0, 0, 1);
    top: -22px;
}

.wave {
    position: relative;
    opacity: 0;
    top: 0;
    width: 2px;
    height: 1px;
    border: #f00 7px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.wave:after {
    content: '';
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
    width: 2px;
    height: 1px;
    border: #f00 5px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple-2;
    -webkit-animation-name: ripple-2;
    animation-name: ripple-2;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        width: 200px;
        height: 100px;
        border-width: 1px;
        top: 100px;
        left: 200px;
    }
}

@keyframes drip {
    to {
        top: 190px;
    }
}

#blood-drip {
    margin-top: 50px;
    width: 100%;
    height: 75vh;
}

body {
    overflow-x: hidden;
}

#map-container {
    /* center absolute positioned div help from: https://www.beacontechnologies.com/blog/2015/07/center-an-absolute-positioned-div/ */
    padding: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
}

.mapPath {
    paint-order: stroke fill;
    stroke-width: 1.8;
    stroke: white;
}

.mapPath:hover {
    paint-order: stroke fill;
    stroke-width: 3;
    stroke: gray;
}

.stars-imdb {
    position: absolute;
    top: 190px;
    right: -760px;
    color: #f7bc06;
}

.stars-meta {
    position: absolute;
    top: 180px;
    right: -760px;
    color: #f7bc06;
}




/* map carousel css */
/* help from: https://stackoverflow.com/a/51610615 */
.posterContainer {
    position: relative;
    top: 40px;
    margin: 0;
}
.poster {
    height: 220px;
    box-shadow: 2px 2px 5px grey;
    margin-top: 40px;
}

.shadowOn {
    box-shadow: 8px 8px 8px grey;
}

/* carousel dot navigator */
ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
}


.carousel-indicators li {
    width: 10px;
    height: 10px;
    background: grey;
    border-radius: 100%;
}

ol.carousel-indicators li.active {
    background: black;
    width: 15px;
    height: 15px;

}
.carousel .fp-tableCell {
    height: 320px !important;
}

.carousel {
    height: 320px !important;
    width: 1100px !important;
    padding-left: 30px;
    padding-right: 30px;
}


.carousel-control-prev {
    position: absolute;
    left: -3%;
    top: 3%;
    height: 180px !important;
    width: 30px !important;
}
.carousel-control-next {
    position: absolute;
    right: 1%;
    top: 3%;
    height: 180px !important;
    width: 30px !important;
}

/* changing carousel arrow style code adapted from: https://stackoverflow.com/a/46250461 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 20px;
    width: 20px;
    background-size: 50%, 50%;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 50px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 50px;
    color: black;
}
.caption {
    font-size: 14px;
}
.zero-padding {
    padding-right: 0px;
    padding-left:0px;
}
.col-xs-2{
    background: #ffffff;
    color:#FFF;
}
.col-half-offset{
    margin-left:4.166666667%
}




#shark-population-decline-plot {
    margin-bottom: 100px;
}

.overtext {
    font-size: 27px;
    color: white;
    position: absolute;
    font-family: Poppins;
    text-align: center;
    top: 30 px;
    left: 16px;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px darkgrey;
}

#opening-text {
    color: #456983;
    font-family: Georgia;
    font-size: 150px;
    margin-top: 180px;
    text-align: center;
}

.tooltip {
    padding: 10px;
    /* border-style: solid; */
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    color: black;
    background: #ffffff;
}

